/* Default and Effects*/

.vh-100{
  height: 100vh;
}

.notAnim {
  opacity: 0;
}

.Anim {
 opacity: 1; 
}

.notVisibility {
  visibility: hidden;
}

.Visibility {
 visibility: visible; 
}

/* NavBar */

div.navbar-ghost {
  height: 76px;
  width: 100%;
  opacity: 0;
}

ul.navbar-ul-liks {
  justify-content: left;
}

li.navbar-link-a:hover {
  cursor: pointer;
}

nav.navbar-styles {
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  width: 100%;
  transition: all 0.25s ease-out;
}

nav.min-navbar {
  background-color: #191c17;
  color: #e8e8e8;
  opacity: 1;
  padding: .5rem 1rem;
}

nav.max-navbar {
  background-color: #191c17;
  color: #e8e8e8;
  opacity: .7;
  padding: .7% .7%;
}

a.navbar-logo {
  transition: all 0.25s ease-out;
}

a.min-navbar-logo {
  font-size: 1rem;  
}

a.max-navbar-logo {
  font-size: 2rem;
  margin-left: 5%;
}

button.navbar-toggler {
  transition: all 0.25s ease-out;
}

button.min-navbar-toggler {
  font-size: 1.25rem
}

button.max-navbar-toggler {
  font-size: 1.5rem;
}

div.navbar-group-itens {
  transition: all 0.25s ease-out;
}

div.min-navbar-group-itens {
  font-size: 1rem;
}

div.max-navbar-group-itens {
  font-size: 1.25rem;
}

/* ArrowUp */

.arrowUp {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
  padding: 12.5px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Carousel */
img.carousel-itemImg {
    padding-top: 0px;
    /* max-height: 100%;
    min-height: 100%; */
    min-height: 250px;
    height: 100%;
    /* max-width: 100%; */
}

/* Services */
section.services-container {
  /* margin: 5% auto; */
  height: 100vh;

  /* The image used */
  background-image: url("../images//home/Future-business-21117.jpeg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  
  /* Position Itens */
  display: flex;
  align-items: center;
  justify-content: center;
}

div.services-itens {
  /*background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2); */
  margin: auto;
  text-align: center;
}

/* div.service-itens-group {
  padding: 10% 15%;
} */

button.services-link-img {
  border: 0;
  padding: 0;
  /* border-radius: 50px; */
  cursor: pointer;
  max-width: 100%;
  box-shadow: 2px 2px 3px #999;
  /* margin-left: 3%; */
  /* padding: 3%; */
  background-color: transparent;
}

div.service-card-big {
  width: 18rem;
  background-color: transparent;
  transition: width .3s ease-out;
}

div.service-card-big:hover {
  width: 20rem;
}

div.service-card-small {
  width: 10rem;
  padding: 3%;
  background-color: transparent;
  transition: width .3s ease-out;
}

div.service-card-small:hover {
  width: 12rem;
}

div.services-ghost {
  height: 4em;
}

img.services-img-small {
  max-width: 100%;
  height: auto;
}

div.services-card-body {
      padding: 0;
      background-color: transparent;
      font-size: 2rem;
      color: #ff0000;
      font-weight: bolder;
      font-family: sans-serif;
}

/* Partners */

section.partners-container {
  padding-top: 15%;
  height: 100vh;
  /* margin-bottom: 70px; */
  transition: opacity 1.2s ease-out;
}

h3.partners-itens {
  color: #FFF;
  font-size: 20px;
}

img.partners-slide {
  max-width: 250px;
  height: 150px;
  margin: 0 auto;
}

h1.partners-title {
  text-align: center;
  color: #FFF;
  opacity: 0.7;
  margin-bottom: 20px;
}

/* About */

section.about-container {
  /* margin-top: 50px;
  padding: 70px 0; */
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact */

section.contact-container {
  margin-top: 0px;
  font-size: 0.9rem;
}

form.contact-form {
  margin: 0 auto; 
  border-radius: 15px;
  background-color: #4c4646;
  /* padding: 3%; */
  padding: 13px 3%;
}

h1.contact-title {
  color: #FFF;
  opacity: 0.7;
  /* margin-bottom: 20px; */
  font-size: 2rem;
}

label.contact-label {
  color: #FFF;
  opacity: 0.7;
}

div.contact-form-group {
  margin-bottom: 0.5rem;
}

div.contact-container-recaptcha {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .2rem 0;
}

button.contact-buttom {
  margin: .5rem auto;
}

/* Content */

div.content-container {
  transition: opacity 1.2s ease-out;
}

.content-card {
  width: 45ch;
  height: 40ch;
  background: grey;
  border-radius: 5px;
  /* background-image: url(https://image.flaticon.com/icons/svg/789/789395.svg); */
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 5px solid white;
  margin: 4ch;
}

.content-card:hover {
  cursor: pointer;
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

/* Footer */

section.footer-container {
  height: 45vh;
  color: #FFF;
  padding: 2rem;
  font-size: 16px;
  transition: opacity 1.2s ease-out;
}

a.footer-link-a {
  cursor: pointer;
  color: #999;
  margin-bottom: 1rem;
  font-size: 13px;
}

div.footer-group-link {
  display: flex;
  flex-direction: column;
}

h3.footer-group-title {
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 1rem;
}

div.footer-group-redes {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.footer-group-redes-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.footer-group-redes-ul {
  /* transform: translate(-50%, -50%); */
  margin: 0;
  padding: 0;
  display: flex;
}

ul li .footer-group-rede-icon {
  font-size: 50px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
  margin-top: 5px;
}

li.footer-group-redes-li {
  list-style: none;
  margin: 0 25px;
}

a.footer-group-redes-a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}

a.footer-group-redes-a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

a.footer-group-redes-a::after {
  content: "";
  position: absolute;
  top: 60px;
  left: -11px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

a.footer-group-redes-a:hover {
 transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}

ul li:hover .footer-group-rede-icon {
  color: #fff;
}

ul li:hover:nth-child(1) a.footer-group-redes-a {
  background: #3b5999;
}

ul li:hover:nth-child(1) a.footer-group-redes-a:before {
  background: #2e4a86;
}

ul li:hover:nth-child(1) a.footer-group-redes-a:after {
  background: #4a69ad;
}

ul li:hover:nth-child(2) a.footer-group-redes-a {
  background: #5fc960;
}

ul li:hover:nth-child(2) a.footer-group-redes-a:before {
  background: #28a745;
}

ul li:hover:nth-child(2) a.footer-group-redes-a:after {
  background: #1abd3f;
}

ul li:hover:nth-child(3) a.footer-group-redes-a {
  background: #dd4b39;
}

ul li:hover:nth-child(3) a.footer-group-redes-a:before {
  background: #c13929;
}

ul li:hover:nth-child(3) a.footer-group-redes-a:after {
  background: #e83322;
}

ul li:hover:nth-child(4) a.footer-group-redes-a {
  background: #0077B5;
}

ul li:hover:nth-child(4) a.footer-group-redes-a:before {
  background: #036aa0;
}

ul li:hover:nth-child(4) a.footer-group-redes-a:after {
  background: #0d82bf;
}

ul li:hover:nth-child(5) a.footer-group-redes-a {
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

ul li:hover:nth-child(5) a.footer-group-redes-a:before {
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

ul li:hover:nth-child(5) a.footer-group-redes-a:after {
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

/* Slide */

section.slide-container {
  position: fixed;
  height: 80vh;
  width: 80vw;
  top: 5rem;
  left: 9rem;
  background-color: #332f2f;
  /* border-radius: 10px; */
  z-index: 11;
  transition: opacity 1.2s 0s ease-out, visibity .3s 2s ease-out;
}

div.slide-blackout {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .7;
  z-index: 10;
}

div.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}
 
div.carousel-fade  .carousel-item.active,
div.carousel-fade  .carousel-item-next.carousel-item-left,
div.carousel-fade  .carousel-item-prev.carousel-item-right {
   opacity: 1;
}
 
div.carousel-fade .active.carousel-item-left,
div.carousel-fade  .active.carousel-item-right {
  opacity: 0;
}
 
div.carousel-fade  .carousel-item-next,
div.carousel-fade .carousel-item-prev,
div.carousel-fade .carousel-item.active,
div.carousel-fade .active.carousel-item-left,
div.carousel-fade  .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

button.slide-buttom-close {
  border: 0;
  padding: 0;
  cursor: pointer;
  max-width: 100%;
  background-color: transparent;
  position: fixed;
  top: 5.5rem;
  left: 9.5rem;
  z-index: 12;
}

button.slide-buttom-close:active {
  color: #f00;
  border: none;
}

button.slide-buttom-close:hover {
  color: #f00;
  border: none;
}

button.slide-buttom-close:link {
  border: none;
}

button.slide-buttom-close:visited {
  border: none;
}

.slide-icon-close {
  font-size: 30px;
}

div.slide-img-group {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* padding: 10px; */
  height: 100%;
  /* z-index: 9; */
}

img.slide-img {
  /* max-width: 100%; */
  /* height: 100%; */
  /* border-radius: 10px; */
  height: -webkit-fill-available;
  margin: 0 auto;
}

/* Rescursive */

/* Extra small devices (portrait phones, less than 576px) ********/
@media (max-width: 575.98px) { 
  section.contact-cont-center {
    /* padding: 3% 0; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  label.contact-label {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 2.5px;
  }

  h1.contact-title {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 4.5px;
    font-size: 2rem;
  }

  form.contact-form {
    /* margin: 0 auto;  */
    border-radius: 15px;
    background-color: #4c4646;
    /* padding: 2%; */
  }

  div.contact-container-recaptcha {
    display: flex;
    align-items: center;
    padding: 0;
  }
  
  button.contact-buttom {
    margin: .5rem auto;
  }

  div.service-img-mobile {
    margin-bottom: 1rem;
  }

  div.service-card-big {
    width: 8rem;
    transition: all .3s ease-out;
  }
  
  div.service-card-big:hover {
    width: 10rem;
  }
  
  div.service-card-small {
    width: 6rem;
    transition: all .3s ease-out;
  }
  
  div.service-card-small:hover {
    width: 9rem;
  }
  
  div.services-ghost {
    height: .5rem;
  }

  section.partners-container {
    padding-top: 50%;
  }

  img.carousel-itemImg {
    padding-top: 0px;
    min-height: 250px;
    height: 600px;
  }

  section.footer-container {
  height: 60vh;
  color: #FFF;
  padding: 2rem;
  font-size: 16px;
  }

}

/* Small devices (landscape phones, 576px and up) ****************/
@media (min-width: 576px) and (max-width: 767.98px) { 
  section.contact-cont-center {
    padding: 4% 0;
  }

  label.contact-label {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 2.5px;
  }

  h1.contact-title {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 4.5px;
    font-size: 2rem;
  }

  form.contact-form {
    margin: 0 auto; 
    border-radius: 15px;
    background-color: #4c4646;
    padding: 2%;
  }
}

/* Medium devices (tablets, 768px and up) ************************/
@media (min-width: 768px) and (max-width: 991.98px) {
  section.contact-cont-center {
    padding: 3% 0;
  }

  label.contact-label {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 2.5px;
  }

  h1.contact-title {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 4.5px;
    font-size: 2rem;
  }

  form.contact-form {
    margin: 0 auto; 
    border-radius: 15px;
    background-color: #4c4646;
    padding: 2%;
  }
}

/* Large devices (desktops, 992px and up) ************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  section.contact-cont-center {
    padding: 1% 0;
  }

  label.contact-label {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 3px;
  }

  h1.contact-title {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 5px;
    font-size: 2rem;
  }

  form.contact-form {
    margin: 0 auto; 
    border-radius: 15px;
    background-color: #4c4646;
    padding: 2.5%;
  }
}

/* Large devices (Ipad X Pro) ************************/
@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 1300px) {
  section.contact-cont-center {
    padding: calc(105% - 75%) 0;
  }

  label.contact-label {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 5px;
  }

  h1.contact-title {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 10px;
    font-size: 2rem;
  }

  form.contact-form {
    margin: 0 auto; 
    border-radius: 15px;
    background-color: #4c4646;
    padding: 4%;
  }
}

/* Extra large devices (large desktops, 1200px and up) ***********/ 
@media (min-width: 1200px) and (min-height: 500px) {
  section.contact-cont-center {
    padding-top: 5%;
  }

  label.contact-label {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 4px;
  }
}
