/* Default */

.vh-100{
  height: 100vh;
}

/* NavBar */

div.navbar-ghost {
  height: 76px;
  width: 100%;
  /* background-color: #000; */
  opacity: 0;
}

ul.navbar-ul-liks {
  justify-content: left;
}

li.navbar-link-a:hover {
  cursor: pointer;
}

nav.navbar-styles {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  transition: all 0.25s ease-out;
}

nav.min-navbar {
  background-color: #191c17;
  color: #e8e8e8;
  opacity: 0.7;
  padding: .5rem 1rem;
}

nav.max-navbar {
  background-color: #191c17;
  color: #e8e8e8;
  opacity: 1;
  padding: .7% .7%;
}

a.navbar-logo {
  transition: all 0.25s ease-out;
}

a.min-navbar-logo {
  font-size: 1rem;  
}

a.max-navbar-logo {
  font-size: 2rem;
  margin-left: 5%;
}

button.navbar-toggler {
  transition: all 0.25s ease-out;
}

button.min-navbar-toggler {
  font-size: 1.25rem
}

button.max-navbar-toggler {
  font-size: 1.5rem;
}

div.navbar-group-itens {
  transition: all 0.25s ease-out;
}

div.min-navbar-group-itens {
  font-size: 1rem;
}

div.max-navbar-group-itens {
  font-size: 1.25rem;
}

/* ArrowUp */

.arrowUp {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
  padding: 12.5px;
  background: #fff
  /* visibility: hidden; */
}

.arrowUp img {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  /* visibility: visible; */
}

/* Carousel */
img.carousel-itemImg {
    padding-top: 0px;
    /* max-height: 100%;
    min-height: 100%; */
    max-height: 650px;
    height: 100%;
    /* max-width: 100%; */
}

/* Services */
section.services-container {
    /* border: 1px solid #000; */
  border: 5px solid #969696;
  margin: 30px auto;
  padding: 5% 0;
  background-color: #eae8e8;
}

div.services-itens {
    /* background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2); */
  margin: auto;
  text-align: center;
}

div.service-itens-group {
  padding: 10% 15%;
}

button.services-link-img {
  border: 0;
  padding: 0;
  border-radius: 50px;
  cursor: pointer;
  max-width: 100%;
  box-shadow: 2px 2px 3px #999;
  margin-left: 3%;
  padding: 3%;
}

div.services-ghost {
  height: 2em;
}

img.services-img-big {
  max-width: 70%;
  height: auto;
}

img.services-img-small {
  max-width: 100%;
  height: auto;
}

/* Partners */

section.partners-container {
  padding-top: 15%;
  /* margin-bottom: 70px; */
}

h3.partners-itens {
  color: #FFF;
  font-size: 20px;
}

img.partners-slide {
  max-width: 250px;
  height: 150px;
  margin: 0 auto;
}

h1.partners-title {
  text-align: center;
  color: #FFF;
  opacity: 0.7;
  margin-bottom: 20px;
}

/* About */

section.about-container {
  margin-top: 50px;
  background-color: #e8e8e8;
  padding: 70px 0;
}

/* Contact */

section.contact-container {
  margin-top: 0px;
  font-size: 0.9rem;
}

form.contact-form {
  margin: 0 auto; 
  border-radius: 15px;
  background-color: #4c4646;
  padding: 3%;
}

h1.contact-title {
  color: #FFF;
  opacity: 0.7;
  margin-bottom: 20px;
  font-size: 2rem;
}

label.contact-label {
  color: #FFF;
  opacity: 0.7;
}

div.contact-form-group {
  margin-bottom: 0.5rem;
}


/* Rescursive */

/* Extra small devices (portrait phones, less than 576px) ********/
@media (max-width: 575.98px) { 
  section.contact-cont-center {
    padding: 3% 0;
  }

  label.contact-label {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 2.5px;
  }

  h1.contact-title {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 4.5px;
    font-size: 2rem;
  }

  form.contact-form {
    margin: 0 auto; 
    border-radius: 15px;
    background-color: #4c4646;
    padding: 2%;
  }
}

/* Small devices (landscape phones, 576px and up) ****************/
@media (min-width: 576px) and (max-width: 767.98px) { 
  section.contact-cont-center {
    padding: 4% 0;
  }

  label.contact-label {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 2.5px;
  }

  h1.contact-title {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 4.5px;
    font-size: 2rem;
  }

  form.contact-form {
    margin: 0 auto; 
    border-radius: 15px;
    background-color: #4c4646;
    padding: 2%;
  }
}

/* Medium devices (tablets, 768px and up) ************************/
@media (min-width: 768px) and (max-width: 991.98px) {
  section.contact-cont-center {
    padding: 3% 0;
  }

  label.contact-label {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 2.5px;
  }

  h1.contact-title {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 4.5px;
    font-size: 2rem;
  }

  form.contact-form {
    margin: 0 auto; 
    border-radius: 15px;
    background-color: #4c4646;
    padding: 2%;
  }
}

/* Large devices (desktops, 992px and up) ************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  section.contact-cont-center {
    padding: 1% 0;
  }

  label.contact-label {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 3px;
  }

  h1.contact-title {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 5px;
    font-size: 2rem;
  }

  form.contact-form {
    margin: 0 auto; 
    border-radius: 15px;
    background-color: #4c4646;
    padding: 2.5%;
  }
}

/* Large devices (Ipad X Pro) ************************/
@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 1300px) {
  section.contact-cont-center {
    padding: calc(105% - 75%) 0;
  }

  label.contact-label {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 5px;
  }

  h1.contact-title {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 10px;
    font-size: 2rem;
  }

  form.contact-form {
    margin: 0 auto; 
    border-radius: 15px;
    background-color: #4c4646;
    padding: 4%;
  }
}

/* Extra large devices (large desktops, 1200px and up) ***********/ 
@media (min-width: 1200px) and (min-height: 500px) {
  section.contact-cont-center {
    padding: 1% 0;
  }

  label.contact-label {
    color: #FFF;
    opacity: 0.7;
    margin-bottom: 4px;
  }
}